.atom/
.bash_history
.matplotlib/
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
MicrosoftEdgeBackups/
Music/
NTUSER.DAT
NTUSER.DAT{78c2b9a7-2c49-11e8-b660-f80f41b4fb29}.TM.blf
NTUSER.DAT{78c2b9a7-2c49-11e8-b660-f80f41b4fb29}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{78c2b9a7-2c49-11e8-b660-f80f41b4fb29}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
